body {
    background-image: url('https://www.thespacecinema.it/assets/css/images/vue_bg.png') !important;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    color: whitesmoke !important;
    padding: 2rem !important;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #ee7600ff!important;
}

footer {
    /*align-items: bottom;*/
    background-color: #090A0B;
    -webkit-box-shadow: 0px 15px 26px -3px #090A0B !important;
    box-shadow: 0px 15px 26px -3px #090A0B !important;
    border-radius: 30px 30px 30px 30px !important;
    height: 30px;
    margin-top: 40px;
    padding: 30px;
    color: whitesmoke;
    text-align: center;
}

table {
    background-color: #6d6c6b !important;
    text-decoration-color: aqua;
}


/**************************CLASSI***************************************/

nav.navbar {
    background: #090A0B !important;
    -webkit-box-shadow: 0px 15px 26px -3px #090A0B !important;
    box-shadow: 0px 15px 26px -3px #090A0B !important;
    max-height: 100% !important;
    margin-left: 20px !important;
    margin-right: 10px !important;
    border-radius: 0px 0px 30px 30px !important;
}

.text-dark {
    --bs-text-opacity: 1;
    color: whitesmoke !important;
}

.dropdown-menu {
    background: #090A0B !important;
    color: whitesmoke !important;
}

.dropdown-item {
    color: whitesmoke !important;
}

.navbar-brand {
    margin-left: 50px !important;
}

.justify-content-end {
    margin-right: 50px !important;
}

.offcanvas.show {
    transform: none;
    background: #090A0B !important;
}

.offcanvas {
    background: #090A0B !important;
}

.card {
    background-color: #ee760000 !important;
    -webkit-box-shadow: 0px 15px 26px -3px #090A0B !important;
    box-shadow: 0px 15px 26px -3px #090A0B !important;
    max-width: 540px !important;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
    border: none !important;
    border-radius: 30px 30px 30px 30px !important;
    height: auto !important;
}

.card-img,
.card-img-bottom,
.card-img-left {
    width: 100% !important;
    height: 60% !important;
    display: flex !important;
    flex: 1 1 auto !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ee7600 !important;
}

.card-body {
    text-align: center !important;
}


/**************************ID***************************************/

#content {
    margin-top: 5rem !important;
}

#btnGroupDrop1 {
    height: 50px !important;
}

#imguser {
    width: 30px !important;
}

#card-img-top {
    height: 60% !important;
}

#loginmenu,
#registermenu {
    padding-left: 50px;
}

#loginbut,
#registerbut {
    width: 100%;
    height: 40%;
}

button.orariobutton {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    align-items: center !important;
    border: 0 !important;
    border-radius: 100px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    display: inline-flex !important;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    justify-content: center !important;
    line-height: 20px !important;
    max-width: 480px !important;
    min-height: 40px !important;
    min-width: 0px !important;
    overflow: hidden !important;
    padding: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center !important;
    touch-action: manipulation !important;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none !important;
    -webkit-user-select: none !important;
    vertical-align: middle !important;
    background-color: #94d60a !important;
    margin-right: 10px !important;
}

.table {
    padding: 100px;
    vertical-align: middle;
    text-align: center;
}

.centre {
    margin-left: 200px;
    color: #141414 !important;
}