/* SCSS HEX */

$light-slate-gray: #9DA5AA;
$light-slate-gray-light: rgb(142, 148, 151);
$navbar: #090A0B;
$body: #141414;
$black: #000000ff;
$princeton-orange: #ee7600ff;
$myrtle-green: #3f7f7fff;
$sheen-green: #93d60aff;

/* SCSS HSL */

$light-slate-gray: hsla(200, 7%, 51%, 1);
$black: hsla(0, 0%, 0%, 1);
$princeton-orange: hsla(30, 100%, 47%, 1);
$myrtle-green: hsla(180, 34%, 37%, 1);
$sheen-green: hsla(80, 91%, 44%, 1);

/* SCSS RGB */

$light-slate-gray: rgba(122, 134, 140, 1);
$black: rgba(0, 0, 0, 1);
$princeton-orange: rgba(238, 118, 0, 1);
$myrtle-green: rgba(63, 127, 127, 1);
$sheen-green: rgba(147, 214, 10, 1);

/* SCSS Gradient */

$gradient-top: linear-gradient(0deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-right: linear-gradient(90deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-bottom: linear-gradient(180deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-left: linear-gradient(270deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-top-right: linear-gradient(45deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-bottom-right: linear-gradient(135deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-top-left: linear-gradient(225deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-bottom-left: linear-gradient(315deg, #7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);
$gradient-radial: radial-gradient(#7a868cff, #000000ff, #ee7600ff, #3f7f7fff, #93d60aff);